@import '../../styles/variables.scss';

.marathon{
    &__container{
        border:1px solid black;
        font-family: $poppins;
        font-size: 24px;
        width: 60%;
        padding: 20px;
        border-radius: 25px;
    }
   
    &__course{
        &__wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    }
    &__description{
        padding: 10px;
        text-align: left;
        border:1px solid black;
    }
}