@import "../../styles/variables.scss";
.tableSection {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}

.verticalLine {
  transform: rotate(90deg);
  width: 63px;
  height: 2px;
  background-color: $font-black;
}

.wrapperTableButtons {
  margin: 0 auto;
  width: 835px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarController {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 49px auto;
}

.calendarControllerText {
  font-family: $poppins;
  color: $font-black;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}

.calendarControllerButton {
  background-color: transparent;
  font-size: 28px;
  font-weight: 400;
  font-family: $poppins;
  position: relative;
  top: -1px;
  width: 17px;
  height: 17px;
}

.dataPicker {
  width: 330px !important;
  position: absolute;
  top: 410px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tableButton {
  font-size: 32px !important;
  padding: 15px 31px !important;
  border-radius: 59px !important;
  transition: 200ms linear;
  &:hover {
    @extend %hover-shadow;
  }
}

.templateText {
  font-size: 24px;
  font-weight: 400;
  font-family: $poppins;
  color: $font-black;
  margin: 0 0 37px auto;
}

.tableButtonDisabled {
  background-color: $tableItem-grayHover !important;
  cursor: none;
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .wrapperTableButtons {
    margin: 0 auto;
    width: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tableButton {
    font-size: 25px !important;
    padding: 15px 31px !important;
    border-radius: 59px !important;
    transition: 200ms linear;
  }
}

@media screen and (max-width: 685px) {
  .wrapperTableButtons {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tableButton {
    font-size: 18px !important;
    padding: 15px 31px !important;
    border-radius: 59px !important;
    transition: 200ms linear;
  }
}

@media screen and (max-width: 520px) {
  .wrapperTableButtons {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tableButton {
    font-size: 13px !important;
    padding: 15px 31px !important;
    border-radius: 59px !important;
    transition: 200ms linear;
  }
}

@media screen and (max-width: 440px) {
  .wrapperTableButtons {
    margin: 0 auto;
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tableButton {
    font-size: 10px !important;
    padding: 15px 31px !important;
    border-radius: 59px !important;
    transition: 200ms linear;
  }
}

.loadingBackdrop {
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.7);
  transition: backdrop-filter 0.2s;
  backdrop-filter: blur(50px) grayscale(100%) opacity(50%);
  position: absolute;
  z-index: 11000;
  }

/////////////ANALYTICS////////
.btn__wrapper{
  width: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 50px;
  }
}
.page__btn{
  width: 130px;
    height: 50px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #6268ff;
    display: block;
    cursor: pointer;
    transition: all 1s;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
.select::after {
  content: "../";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: #777;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select {
  display: block;
  width: 200px;
  background-color: $grey;
  border-radius: 10px;
  border: 0;
  height: 50px;
  padding-left: 15px;
  font-size: 20px;
  font-family: $poppins;
  padding: 10px;
  -moz-appearance: none;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../img/down-arrow.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 55%, 0 0;
  align-items: center;
  transition: all 0.5s;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  outline: none;
}

.select option {
  font-weight: normal;
}
.sort__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px 30px;
}
.sort__item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 16px;
  font-family: $poppins;
}
.item__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 97%;
  margin: 15px auto;
  gap: 10px;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    width: 80%;
    align-items: center
  }
}
.item__analytic{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
  font-size: 18px;
  font-family: $poppins;
  @media screen and (max-width: $tablet) {
    max-width: 100%;
    width: 100%;
  }
}
.item__ws{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  max-width: calc(100%/10);
  font-size: 18px;
  font-family: $poppins;
  @media screen and (max-width: $tablet) {
    width: 100%;
    max-width: 100%;
  }
}
.item__analytic:nth-child(3){
  width: 150px;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.item__analytic:nth-child(2){
  width: 100px;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.item__ws:nth-child(3){
  width: 600px;
  max-width: 100%;
}
.item__analytic input{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-family: $poppins;
  background-color: #ededed;
  border: 2px solid #000;
  border-radius: 8px;
}
.item__ws input{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-family: $poppins;
  background-color: #ededed;
  border: 2px solid #000;
  border-radius: 8px;
}
.item__analytic p{
width: 100%;
word-wrap: break-word;
}
.item__ws p{
width: 100%;
word-wrap: break-word;
}
.item__btn{
  padding: 10px;
  font-size: 20px;
  font-family: $poppins;
  border-radius: 8px;
  color: #fff;
  background-color: #84afff;
  height: 50px;
  width: 100px;
  margin-top: 31px;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.searchTermInput{
  width: 50%;
  padding: 10px;
  font-size: 20px;
  font-family: $poppins;
  background-color: #ededed;
  border: 2px solid #000;
  border-radius: 8px;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.searchDateInput{
  width: 25%;
  padding: 10px;
  font-size: 20px;
  font-family: $poppins;
  background-color: #ededed;
  border: 2px solid #000;
  border-radius: 8px;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.pagination{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 50px auto;
  
}
.pagination button{
  font-size: 20px;
  font-family: $poppins;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
  @media screen and (max-width: $tablet) {
    width: 50%;
  }
}
.managerTotal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    width: 80%;
    margin: 20px auto;
  }
}
.totalItem p{
  font-size: 18px;
  font-family: $poppins;
}
@media screen and (max-width: $tablet) {
  .totalItem{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between
  }
}
.tailspin{
  margin: 100px auto;
}
.noData{
  margin: 50px auto;
}
@media screen and (max-width: $tablet) {
  .noData svg{
    width: 350px;
  } 
}
.items__wrapper:nth-child(even) {
  background-color: #d1ffd0;
}
.ws__wrapper:nth-child(even) {
  background-color: #f6ffd0;
}
.comment__tooltip {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #fff; 
  border: 1px solid #5e2121;
  border-radius: 8px;
  padding: 5px; 
  z-index: 2;
  width: 250px;
  white-space: pre-line;
  word-wrap: break-word;
}
.group__wrapper{
      display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 7px;

  }
