@import "../../styles/variables.scss";

.mini_title {
  font-family: $poppins;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
}

.text_wrapper {
  display: flex;
  justify-content: space-between;
}
.ul_items {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $font-black;
  width: 190px;
  align-items: center;
}

.ul_items_btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("../../img/pencil.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: $font-black;
  border-radius: 50%;
  align-items: center;
}
.main_wrapper {
  border-right: 2px solid black;
  border-right: 2px solid black;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  width: 232px;

  &:nth-last-child(1) {
    border-right: 0;
  }
}
.list {
  flex-grow: 1;
}
.wrapperCourses {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 2px solid black;
  height: auto;
  align-items: center;
  width: 232px;

  padding-right: 20px;
  padding-left: 20px;
  &:nth-last-child(1) {
    border-right: none;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  border-right: 2px solid black;
  height: auto;
  align-items: center;
  width: 700px;

  padding-right: 20px;
  padding-left: 20px;
  &:nth-last-child(1) {
    border-right: none;
  }
}
.ul_items_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
  margin-top: 12px;
}
.appointment__data {
  font-family: $poppins;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.analytic__btn{
  width: 200px;
  height: 50px;
  background-color: #9bff99;
  border-radius: 10px;
  margin: 0 auto;
  padding: auto;
  font-family: $poppins;
  font-weight: 400;
  font-size: 18px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.items__wrapper:nth-child(even) {
  background-color: #d1ffd0;
}
.item__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 97%;
  margin: 15px auto;
  gap: 10px;
  @media screen and (max-width: $desktop) {
    flex-direction: column;
    width: 80%;
    align-items: center
  }
}
.item__analytic{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
  font-size: 18px;
  font-family: $poppins;
  @media screen and (max-width: $desktop) {
    max-width: 100%;
    width: 100%;
  }
}
.item__analytic:nth-child(3){
  width: 150px;
  @media screen and (max-width: $desktop) {
    width: 100%;
  }
}
.item__analytic:nth-child(2){
  width: 100px;
  @media screen and (max-width: $desktop) {
    width: 100%;
  }
}
.item__analytic input{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-family: $poppins;
  background-color: #ededed;
  border: 2px solid #000;
  border-radius: 8px;
}
.item__analytic p{
  width: 100%;
  word-wrap: break-word;
}
.group__wrapper{
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 7px;
}
.comment__tooltip {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #fff; 
  border: 1px solid #5e2121;
  border-radius: 8px;
  padding: 5px; 
  z-index: 2;
  width: 250px;
  white-space: pre-line;
  word-wrap: break-word;
}
.item__btn{
  padding: 10px;
  font-size: 20px;
  font-family: $poppins;
  border-radius: 8px;
  color: #fff;
  background-color: #84afff;
  height: 50px;
  width: 100px;
  margin-top: 31px;
  @media screen and (max-width: $desktop) {
    width: 100%;
  }
}
.searching__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}