@import "../../styles/App.scss";

.main__title{
    font-family: $poppins;
    color: $font-black;
    font-weight: 500;
    font-size: 24px;
}

.date__wrapper{
    
    display: flex;
  flex-direction: row;
  justify-content: center;
  width: 97%;
  margin: 15px auto;
  gap: 50px;
  @media screen and (max-width:$mobile) {
   flex-direction: column;
   gap: 25px; 
  }
}
.date__input{
    width: 20%;
  padding: 10px;
  font-size: 20px;
  font-family: $poppins;
  background-color: #ededed;
  border: 2px solid #000;
  border-radius: 8px;
  @media screen and (max-width:$mobile) {
    width: 80%;
    margin: 0 auto;
   }
   @media screen and (min-width: $mobile) and (max-width: $desktop) {
    width: 30%;
  }
}

.btn__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 30px;
    @media screen and (max-width:$mobile) {
      flex-direction: column;
      gap: 25px; 
     }
     @media screen and (min-width: $mobile) and (max-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(3, 30%);
    }
}
.btn__wrapper button{
    padding: 10px;
  font-size: 20px;
  font-family: $poppins;
  background-color: #75aaff;
  color: #FFF;
  border-radius: 8px;
  @media screen and (max-width:$mobile) {
    width: 80%; 
   }
}
.btn__wrapper button:disabled{
    background-color: #aeb1b6; 
}
.wrapper{
    height: 400px;
    @media screen and (max-width:$mobile) {
      height: 100%;
      margin-bottom: 50px;
     }
}