@import "../../styles/App.scss";
@import "../../styles/variables.scss";

.main_wrapper {
  margin-bottom: 60px;
  margin-top: 34px;
}

.main_title::after {
  width: 536px;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 17px;

  @media screen and (max-width: 600px) {
    width: 400px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 420px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn_wrapper {
  margin-bottom: 30px;
}
.text_wrapper {
  display: flex;
  justify-content: space-between;
  width: 690px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.mini_title {
  font-family: $poppins;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.main_title {
  font-family: $poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: $font-black;
  margin-bottom: 30px;
  @media screen and (max-width: 600px) {
    font-size: 26px;
  }
}
.main_wrapper2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }
}
.mini_title1 {
  margin-right: 25px;
  font-family: $poppins;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.add_btn {
  padding: 11px 39px;
  border-radius: 20px;
  color: $font-white;
  background-color: $font-black;
  font-family: $poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
}

.blank {
  margin: 50px auto 300px;
  font-size: 30px;
};

///// RADIO BUTTONS//////
.wrapperControlButtons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 75px auto;
}
.controlButton {
  padding: 10px;
  font-size: 24px;
  transition: 200ms linear;
  border-radius: 30px;
  border: 3px solid transparent;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  cursor: pointer;
}
.controlButtonGreen {
  background-color: $tableItem-greenColor;
}

.controlButtonGray {
  background-color: $tableItem-grayColor;
}
.controlButtonGreenFocus {
  background-color: $tableItem-greenHover;
  border: 3px solid rgba(78, 138, 56, 1);
}

.controlButtonGrayFocus {
  background-color: $tableItem-grayHover;
  border: 3px solid rgba(136, 136, 136, 1);
}

/////// MANAGERS SELECT //////
.managers__select{
  width: 200px;
  height: 50px;
  margin: 0 auto 30px;
  font-size: 25px;
  border: solid 2px #000;
  border-radius: 5px;
  padding: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px; /* Розмір стрілки */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M7 10l5 5 5-5z"/></svg>');
}

//////// LOGIN TABLE /////////
.auth__wrapper{
  display: flex;
  justify-content: center;
  @media screen and (max-width: $tablet) {
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
  }
}
.auth__table{
  width: 60%;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.auth__header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 200px;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  font-size: 34px;
  margin-bottom: 50px;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
.auth__cellData{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  font-size: 24px;
  @media screen and (max-width: $tablet) {
    font-size: 18px;
  }
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media screen and (max-width: $tablet) {
    gap: 20px;
  }
}
.cell1{
  width: 400px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  @media screen and (max-width: $tablet) {
    width: calc(100%/3);
  }
}
.cell2{
  width: 500px;
  display: flex;
  justify-content: flex-start;
  @media screen and (max-width: $tablet) {
    width: calc(100%/3);
  }
}
.cell3{
  display: flex;
  justify-content: flex-start;
  @media screen and (max-width: $tablet) {
    width: calc(100%/3);
  }
}
.auth__pagination{
  margin: 50px 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  font-size: 18px;
}
.auth__btn{
  background-color: #fff;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  font-size: 18px;
}

/////// APPOINTMENT SEARCH ////////////
.search__container{
  display: flex;
  justify-content: center;
}
.search__wrapper{
  position: relative;
  width: 600px;
}
.search__input{
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #e1e1e1;
  border-radius: 25px;
  padding: 10px 60px 10px 30px;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  font-size: 20px;
  transform: translateX(-50%);
}
.search__btn{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #e1e1e1;
}
.data__wrapper{
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}
.slot__wrapper{
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.slot__header{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 100px auto 0px;
  gap: 20px;
  justify-content: space-around;
}
.data__item{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 10px;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
}
.slot__item{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 10px;
  justify-content: space-between;
}
.data__cell{
  text-align: left;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  font-size: 18px;
}
.slot__cell{
  text-align: left;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  font-size: 18px;
}
.header__item{
  text-align: left;
  font-family: $poppins;
  font-weight: 700;
  color: $font-black;
  font-size: 24px;
}

.data__item :nth-child(4) {
  // width: 400px;
  min-width: 400px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  @media screen and (max-width: $tablet) {
    min-width: 100%;
  max-width: 100%;
  }
}
.data__item :nth-child(3) {
min-width: 85px;
}
.data__item :nth-child(1) {
width: 100px;
}
.create{
  background-color: #cbffbe;
}
.delete{
  background-color: #ff8585;
}
.postpone{
  background-color: #ffffbe;
}
.update{
  background-color: #bef2ff;
}
.confirmed{
  background-color: #93acff;
}
.swapped{
  background-color: #f587ff;
}
///////SWAP TABLE///////
.swap__table{
  border: 3px solid #000;
  border-radius: 20px;
  width: 1290px;
  margin: 0 auto;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  
}
.swap__input{
  height: 50px;
  background-color: $grey;
  padding: 30px;
  font-family: $poppins;
  font-weight: 400;
  color: $font-black;
  font-size: 20px;
  border-radius: 10px;
}
.swap__btn{
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-family: $poppins;
  font-weight: 400;
  color: $font-white;
  font-size: 20px;
  background-color: $blue;
}
.slot__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
}
////////MANAGERS ANALYTICS////////
.searchTermInput{
  width: 25%;
  padding: 10px;
  font-size: 20px;
  font-family: $poppins;
  background-color: #ededed;
  border: 2px solid #000;
  border-radius: 8px;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.btn__wrapper{
  width: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 50px;
  }
}
.select::after {
  content: "../";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: #777;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.select {
  display: block;
  width: 200px;
  background-color: $grey;
  border-radius: 10px;
  border: 0;
  height: 50px;
  padding-left: 15px;
  font-size: 20px;
  font-family: $poppins;
  padding: 10px;
  -moz-appearance: none;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../img/down-arrow.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 55%, 0 0;
  align-items: center;
  transition: all 0.5s;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  outline: none;
}

.select option {
  font-weight: normal;
}
.pagination{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 50px auto;
  
}
.pagination button{
  font-size: 20px;
  font-family: $poppins;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
}
.managerTotal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin: 0 auto;
  }
}
.totalItem p{
  font-size: 20px;
  font-family: $poppins;
}
@media screen and (max-width: $tablet) {
  .totalItem{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.item__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: 15px auto;
  gap: 10px;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
}
.item__analytic{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  max-width: calc(100%/10);
  font-size: 20px;
  font-family: $poppins;
  @media screen and (max-width: $tablet) {
    max-width: 100%;
    flex-direction: row;
  }
}
.item__analytic p{
width: 100%;
font-weight: 700;
text-align: end;
// word-wrap: break-word;
}
.tailspin{
  margin: 100px auto;
}
.noData{
  margin: 0 auto;
  
}
@media screen and (max-width: $tablet) {
  .noData svg{
    width: 400px;
  } 
}
.managerNameSt {
  // min-width: 265px;
  background-color: #fff;
  font-family: $poppins;
  color: $font-black;
  font-weight: 500;
  font-size: 20px;
}