@import "../../styles/App.scss";

.main_wrapper {
  margin-bottom: 60px;
  margin-top: 34px;
}

.main_title::after {
  width: 536px;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 17px;

  @media screen and (max-width: 600px) {
    width: 400px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 420px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn_wrapper {
  margin-top: 56px;
}
.text_wrapper {
  display: flex;
  justify-content: space-between;
  width: 690px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.mini_title {
  font-family: $poppins;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.main_title {
  font-family: $poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: $font-black;
  margin-bottom: 40px;
  @media screen and (max-width: 600px) {
    font-size: 26px;
  }
}
.main_wrapper2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.mini_title1 {
  margin-right: 25px;
  font-family: $poppins;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.add_btn {
  padding: 11px 39px;
  border-radius: 20px;
  color: $font-white;
  background-color: $font-black;
  font-family: $poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
}

.blank {
  margin: 50px auto 300px;
  font-size: 30px;
};