@import '../../styles/variables.scss';
.logo {
    width: 194px;
  }
.aside{
    &__wrapper{
        font-family: $poppins;
        height:40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        justify-content: center;
        border:1px solid black;
        padding: 20px;
    }
}

.header{
    &__container{
        display: flex;
    }
&__main{
    flex:1;
}
}
.avatar{
    width: 75%;
    border-radius: 50%;
    &__label{
        &__wrapper{
            display: flex;
            column-gap: 15px;
        }
        font-size: 30px;
    }
}

.marathons{
    &__wrapper{
        margin-top: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}