@import "/src/styles/variables.scss";

.table__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    min-height: 510px;
    border: 3px solid #000;
    border-radius: 20px;
    margin: 0px auto 50px;
}


.table__emptyImg{
    width: 100%;
}
.table__emptyText{
    font-size: 20px;
}
.spinner{
   margin-top: 100px;
}

.table {
    display: table;
    width: 100%;
 border-collapse: collapse;
    font-family: $poppins;
  color: $font-black;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  
}

.thead, .tbody {
    display: table-row-group;
}

.tr {
    display: table-row;
}

.th, .td {
    display: table-cell;
    padding: 10px;
    text-align: left;
}

.th {
    font-weight: bold;
    text-align: center;
}

.thead {
    margin-bottom: 10px; /* Додає відступ між шапкою і тілом таблиці */
}
.btn__edit{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    background-color: #467aff;
    font-weight: 400;
  text-align: center;
  font-size: 16px;
}
.tc{
    display: table-cell;
}

.tc .td{
    width: 1%;
    height: 50px;
    text-align: center;
}
.subthead .th{
    width: 1%;
    text-align: center;
}