@import "../../styles/App.scss";
.main_title {
  font-family: $poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: $font-black;
  margin-bottom: 30px;
  @media screen and (max-width: 600px) {
    font-size: 26px;
  }
}
.main_title::after {
  width: 536px;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 17px;

  @media screen and (max-width: 600px) {
    width: 400px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 420px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main_wrapper2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}
.add_btn {
  padding: 11px 39px;
  border-radius: 20px;
  color: $font-white;
  background-color: $font-black;
  font-family: $poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
}
.main_wrapper {
  flex-grow: 1;
}
.btn_wrapper {
  margin-bottom: 30px;
}