@import "../../styles/variables.scss";

.devmessage {
  font-size: 25px;
  font-family: $poppins;
  margin-top: 20px;
}

.divider {
  display: flex;
  flex-direction: column;
}
.error {
  font-size: 80px;
  font-family: $poppins;
  @media  screen and (max-width: $tablet) {
    font-size: 70px;
  }
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
